<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; global_settings.xml &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>xml</string>
	<key>name</key>
	<string>GlobalSettings</string>
	<key>uuid</key>
	<string>F494A023-B21A-4D1C-9CA2-4471ED1C41C9</string>
</dict>
</plist>
